stages:
  - template: azure/stages.yml@templates
    parameters:
      minrust: 1.39.0
      codecov_token: $(CODECOV_TOKEN_SECRET)

resources:
  repositories:
    - repository: templates
      type: github
      name: crate-ci/azure-pipelines
      endpoint: toshi-search