[package]
name    = "toshi"
version = "0.1.1"
authors = ["Stephen Carman <shcarman@gmail.com>"]
description = "A full text search engine based on Tantivy"
repository = "https://github.com/toshi-search/Toshi"
license = "MIT"
edition = "2018"

[[bin]]
name = "toshi"

[[bin]]
name = "toshi-placement"

[lib]
path = "src/lib.rs"

[build-dependencies]
tower-grpc-build = { git = "https://github.com/tower-rs/tower-grpc" }

[dependencies]
gotham            = { git = "https://github.com/gotham-rs/gotham", rev = "9e60d8752fd5bb569f4156e60ee1919198702273" }
gotham_derive     = { git = "https://github.com/gotham-rs/gotham", rev = "9e60d8752fd5bb569f4156e60ee1919198702273" }
tower-service     = "0.2"
tower-grpc        = "0.1"
tower-h2          = "0.1" 
tower-util        = "0.1"
tower-http        = "0.1"
tower-consul      = "0.1"
tower-buffer      = "0.1"
http              = "0.1.14"
tokio-connect     = { git = "https://github.com/carllerche/tokio-connect" }
bytes             = "^0.4"
prost             = "^0.4"
prost-derive      = "^0.4"
hyper             = "^0.12"
hyper-tls         = "^0.3"
mime              = "^0.3"
serde             = "^1.0"
serde_derive      = "^1.0"
serde_json        = "^1.0"
futures           = "^0.1"
tantivy           = "^0.7"
tokio             = "^0.1"
tokio-signal      = "^0.2"
tokio-tls         = "^0.2"
config            = "^0.9"
log               = "^0.4"
pretty_env_logger = "^0.3"
failure           = "^0.1"
crossbeam         = "^0.6"
clap              = { version = "^2.32", features = ["color"] }
num_cpus          = "^1.0"
systemstat        = { git = "https://github.com/toshi-search/systemstat", branch = "master" }
uuid              = { version = "0.7", features = ["v4"] }

[profile.release]
opt-level = 3
debug = false
debug-assertions = false
lto = true
rpath = false
codegen-units = 1

[patch.crates-io]
tower-service        = { git = "https://github.com/tower-rs/tower" }
tower-direct-service = { git = "https://github.com/tower-rs/tower" }
tower-buffer         = { git = "https://github.com/tower-rs/tower" }
tower-grpc           = { git = "https://github.com/tower-rs/tower-grpc" }
tower-h2             = { git = "https://github.com/tower-rs/tower-h2" }
tower-util           = { git = "https://github.com/tower-rs/tower" }
tower-http           = { git = "https://github.com/tower-rs/tower-http" }
tower-consul         = { git = "https://github.com/LucioFranco/tower-consul" }